html,body,#product{
    width: 100%;
    height: 100%;
}
.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

/* .pagination .page-link{
    color:#000000;
    background-color: #007bff;
}

.page-link */